/** Enlaces **/
#nuevoUsuarioP {
    background: transparent url(imagenes/nuevoUsuario.png) top left
        no-repeat;
    padding: 5px 0 3px 23px;
}

#inicioP {
    background: transparent url(imagenes/inicio.png) top left no-repeat;
    padding: 5px 0 3px 23px;
}

#inicioPD {
    background: transparent url(imagenes/inicio.png) top right no-repeat;
    margin-left: 10px;
    padding: 5px 23px 3px 0;
}

#materialP {
    background: transparent url(imagenes/material.png) top right no-repeat;
    padding: 5px 27px 3px 0;
}

#logout {
    background: transparent url(imagenes/cerrarSesion.png) top right
        no-repeat;
    margin-left: 10px;
    padding: 5px 23px 3px 0;
}

#actividadVolver {
    background: transparent url(imagenes/actividadVolver.png) top right
        no-repeat;
    margin-right: 10px;
    padding: 5px 27px 3px 0;
}

/** Titulos **/
#inicio {
    background: transparent url(imagenes/inicio.png) top left no-repeat;
    padding-left: 30px;
}

#actividades {
    background: transparent url(imagenes/actividades.png) top left no-repeat;
    padding-left: 30px;
}

#usuarioPerfil {
    background: transparent url(imagenes/perfil.png) top left no-repeat;
    padding-left: 30px;
}

#ayuda {
    background: transparent url(imagenes/ayuda.png) top left no-repeat;
    padding-left: 30px;
}

#nuevoUsuario {
    background: transparent url(imagenes/nuevoUsuario.png) top left
        no-repeat;
    padding-left: 30px;
}

#textoCifradoT {
    background: transparent url(imagenes/textoCifrado.png) top left
        no-repeat;
    padding-left: 30px;
}

#textoPlanoT {
    background: transparent url(imagenes/textoPlano.png) top left no-repeat;
    padding-left: 30px;
}

#claveT {
    background: transparent url(imagenes/clave.png) top left no-repeat;
    padding-left: 30px;
}

#recursosT {
    background: transparent url(imagenes/recursos.png) top left no-repeat;
    padding-left: 30px;
}

#completarActividadT {
    background: transparent url(imagenes/completarActividad.png) top left
        no-repeat;
    padding-left: 30px;
}

#informacionAdicionalT {
    background: transparent url(imagenes/informacionAdicional.png) top left
        no-repeat;
    padding-left: 30px;
}

#descarga {
    background: transparent url(imagenes/descarga.png) top left no-repeat;
    padding-left: 30px;
}

#descargaNo {
    background: transparent url(imagenes/descargaNo.png) top left no-repeat;
    padding-left: 30px;
}

#diapositivasClase {
    background: transparent url(imagenes/diapositivasClase.png) top left
        no-repeat;
    padding-left: 30px;
}

#otrosRecursos {
    background: transparent url(imagenes/otrosRecursos.png) top left
        no-repeat;
    padding-left: 30px;
}

#bibliografia {
    background: transparent url(imagenes/bibliografia.png) top left
        no-repeat;
    padding-left: 30px;
}