/*
---------------------------------------
universidad nacional de colombia
facultad de ciencias
version: 04-2009
--------------------------------------
*/

td,th{
    font-size:1em!important;
    font-size:0.76em}

#container{
    width:950px;
    text-align:left;
    margin:5px auto;
    padding-bottom:1px;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:#fff;
    display:table
}

#contenido{
    width:950px;
    text-align:left;
    margin:5px auto;
    background:#fff;
    padding-bottom:1px;
    float:left
}

/*header*/
#header{
    width:950px;
}

#header_sup{
    width:950px;
    height:81px;
}

#header_sup_logo{
    width:185px;
    height:81px;
    float:left;
    background-image:url(../images/bogo_logo.gif);
}

#header_sup_logo a{
    display:block;
    color:#fff;
    text-decoration:none;
    height:81px;
}
#header_sup_titulo{
    width:765px;
    height:63px;
    float:left
}

#header_sup_herra{
    width:765px;
    height:18px;
    float:left;
}

#header_sup_herra a{
    display:block;
    color:#fff;
    text-decoration:none;
    height:18px;
}

#header_sup_herra_buscador{
    width:158px;
    height:18px;
    float:right;
    background-image:url(../images/bogo_barraun.jpg);
}

#header_sup_herra_barra{
    width:170px;
    height:18px;
    float:right;
    background-image:url(../images/bogo_barraun.jpg);
}

#header_sup_herra_sedesun{
    width:59px;
    height:18px;
    float:right;
    background-image:url(../images/sedes_un.jpg);
}

#header_sup_herra_inicioun{
    width:95px;
    height:18px;
    float:right;
    background-image:url(../images/bogo_inicioun.jpg);
}

#buscador_un{
    height:18px;
    width:142px;
    margin-right:15px;
}


#header_inf{width:950px;
            height:18px;
            float:left;
}

#header_inf_correo{
    width:60px;
    height:18px;
    float:left;
    background-image:url(../images/bogo_correo.jpg);
}

#header_inf_correo a{
    display:block;
    color:#6673b1;
    text-decoration:none;
    height:18px
}

#header_inf_fecha{
    width:190px;
    height:12px;
    float:right;
    padding-top: 5px;
}

#header_inf_inicio{
    width:82px;
    height:18px;
    float:left
}

#header_inf_barra{ width:520px;
                   height:18px;
                   float:left;
                   background-image:url(../images/bogo_barra.jpg)
}

#header_inf_final{
    width:37px;
    height:18px;
    float:left;
    background-image:url(../images/bogo_final.jpg)
}

.fechatexto {
    font-size: 10px;
    font-family:arial, helvetica, sans-serif;
    color: #666666;
    text-align: right;
    height:18px;
    background-color: #ffffff;
    margin-right: 8px;
}

.titulo {
    font-family:georgia, "times new roman", times, serif;
    font-size:22px; color: #000;
    float:right;
    margin-right:35px;
    margin-top:25px;
    text-align:right
}

.field {
    border: 1px solid #666;
    width: 110px;
    height: 12px;
    font-size: 10px;
    margin-bottom: 13px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.hidden {
    display:none;
}

.center {
    margin-left:auto;
    margin-right:auto;
}

.fechatexto {
    font-size: 10px;
    font-family:arial, helvetica, sans-serif;
    color: #666666;
    text-align: left;
    height:18px;
    background-color: #ffffff;
    margin-right: 8px;
}

.menusedes {
    z-index: 1;
    width: 75px;
    font-family: arial, sans-serif;
    font-size:11px;
    position: relative;
    height: 18px;
    padding:0px;
    margin:0px;
}

* html .menusedes {
    width: 75px
}

.menusedes ul {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 0px;
    padding-top: 0px;
    list-style-type: none;
}

.menusedes ul ul {
    width: 75px;
}


.menusedes li {float: left;
               width: 75px;
               padding:0px;
               margin:0px;
               position: relative}
.menusedes a {
    display: block;
    padding-left: 5px;
    font-weight: bold;
    font-size: 11px;
    color: #000000;
    width: 75px;
    text-decoration: none}
.menusedes a:visited {display: block;
                      padding-left: 5px;
                      font-weight: bold;
                      font-size: 11px;
                      background: #4a96e7;
                      width: 75px;
                      height: 18px;
                      text-decoration: none}
* html .menusedes a {width: 75px}
* html .menusedes a:visited {width: 75px;
                             background:#4a96e7}
.menusedes ul ul {left: 0px;
                  visibility: hidden;
                  width: 75px;
                  position: absolute;
                  top: 18px}
.menusedes table {left: 0px;
                  position: absolute;
                  top: 0px;
                  border-collapse: collapse}
.menusedes ul ul a {padding-right: 10px;
                    padding-left: 5px;
                    background: #4a96e7;
                    padding-bottom: 0px;
                    width: 75px;
                    color: #000000;
                    padding-top: 0px;
} /*submenus no visitados ie7 ff*/
.menusedes ul ul a:visited {padding-right: 10px;
                            padding-left: 5px;
                            background: #4a96e7;
                            /*submenus visitados ie7 ff*/ padding-bottom: 0px;
                            width: 75px;
                            color: #000000;
                            padding-top: 0px;
}
* html .menusedes ul ul a {width: 75px}
* html .menusedes ul ul a:visited {width: 75px;
                                   background:#4a96e7}/*submenus visitados ie6*/
.menusedes :hover > a { background:none}/*rollover de sedesun ie7 ff*/
.menusedes a:hover { background-attachment:fixed} /*rollover de sedesun ie6*/
.menusedes ul ul a:hover {background:#2d4d97} /*rollover de submenus no visitados ie6*/
.menusedes ul ul :hover > a {background: #405f97}/*rollover de submenus visitados ie7 ff*/
* html .menusedes ul ul a:hover {background: #2d4d97;
                                 text-decoration:line-through}/*rollover de submenus visitados ie6*/
.menusedes ul li:hover ul {visibility: visible}
.menusedes ul a:hover ul {visibility: visible;
                          background:#ffff00}
.menusedes ul :hover ul ul {visibility: hidden}
.menusedes ul :hover ul :hover ul {visibility: visible}

.menucorreo {
    width: 56px;
    font-family: arial, sans-serif;
    font-size:11px;
    position: relative;
    height: 18px;
    z-index:1;
}
* html .menucorreo {width: 56px}


.menucorreo ul {padding-right: 0px;
                padding-left: 0px;
                padding-bottom: 0px;
                margin: 0px;
                padding-top: 0px;
                list-style-type: none}

.menucorreo ul ul {
    width: 115px}

.menucorreo li {float: left;
                width: 61px;
                padding:0px;
                margin:0px;
                position: relative}

.menucorreo a {
    display: block;
    padding-left: 5px;
    font-weight: bold;
    font-size: 11px;
    color: #6673b1;
    text-decoration: none;
}

.menucorreo a:visited {display: block;
                       padding-left: 5px;
                       font-weight: bold;
                       font-size: 11px;
                       background: #ffffff;
                       height: 18px;
                       text-decoration: none}

* html .menucorreo a {width: 61px}

* html .menucorreo a:visited {width: 61px;
                              background:#ffffff}

.menucorreo ul ul {left: 0px;
                   visibility: hidden;
                   width: 115px;
                   position: absolute;
                   top: 18px}

.menucorreo table {left: 0px;
                   position: absolute;
                   top: 0px;
                   border-collapse: collapse}

.menucorreo ul ul a {padding-right: 10px;
                     padding-left: 5px;
                     background: #ffffff;
                     padding-bottom: 0px;
                     width: 115px;
                     color: #6673b1;
                     padding-top: 0px} /*submenus no visitados ie7 ff*/

.menucorreo ul ul a:visited {padding-right: 10px;
                             padding-left: 5px;
                             background: #ffffff;
                             /*submenus visitados ie7 ff*/ padding-bottom: 0px;
                             width: 115px;
                             color: #6673b1;
                             padding-top: 0px}

* html .menucorreo ul ul a {width: 115px}

* html .menucorreo ul ul a:visited {width: 115px;
                                    background:#ffffff}/*submenus visitados ie6*/

.menucorreo :hover > a {background:none}/*rollover de sedesun ie7 ff*/

.menucorreo a:hover {background-attachment:fixed} /*rollover de sedesun ie6*/

.menucorreo ul ul a:hover {background:#cee7fb} /*rollover de submenus no visitados ie6*/

.menucorreo ul ul :hover > a {background: #cee7fb}/*rollover de submenus visitados ie7 ff*/

* html .menucorreo ul ul a:hover {
    background: #cee7fb;
    text-decoration:line-through}/*rollover de submenus visitados ie6*/

.menucorreo ul li:hover ul {
    visibility: visible;
}

.menucorreo ul a:hover ul {visibility: visible;
                           background:#ffffff}

.menucorreo ul :hover ul ul {visibility: hidden}

.menucorreo ul :hover ul :hover ul {visibility: visible}

.footer{
    width:950px;
    height:49px;
    background: #cccccc;
    float:left;
}

.footer_fill{
    width:405px;
    height:49px;
    float:left}

.footer_logos{width:140px;
              height:49px;
              float:left;
}
